$DarkBlue: #36287d;
$Blue: #5d22fa;
$TranslucentBlue: #5c22fa89;
$Red: #f40038;
$White: white;
$SoftGrey: #f3f3f3;
$Black: black;
$MainBackground: #e9eef2;
$Grey: #bbbbbb;
$DarkGrey: #707070;
$TrasnparentGrey: #707070a2;
