@use "./colors.scss" as c;
@import "./mixins.scss";
.main-customer-area {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 12vh;
  z-index: 0;
  .main-custumer-box {
    position: relative;
    box-shadow: c.$SoftGrey 0px 0px 15px, c.$SoftGrey 0px 0px 3px 1px;
    border-style: solid;
    min-width: 50vw;
    border-width: 1px;
    border-color: c.$SoftGrey;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard-nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > * {
      transition: all 0.2s;
    }
    .payment-type:hover,
    .payment-type-active {
      box-shadow: c.$TrasnparentGrey 0px 0px 15px,
        c.$TrasnparentGrey 0px 0px 3px 1px;
      * {
        color: c.$DarkBlue;
      }
    }

    span {
      font-size: 3em;
      color: c.$Grey;
    }
    *:hover {
      cursor: pointer;
      color: c.$DarkBlue !important;
    }
    @include desktop() {
      gap: 3px;
      padding: 10px;
      h3 {
        font-size: 1em;
        width: 100%;
      }
    }
  }

  .main-customer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: c.$White;
    background: c.$Black;
    border-style: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 40px;
    transition: all 0.2s;
  }
  .main-customer-button > * {
    margin: 0px;
  }
  .main-customer-button:hover {
    background-color: c.$DarkBlue;
    cursor: pointer;
  }
  .secondary-customer-button {
    color: c.$Black;
    background: transparent;
    border: solid 1px c.$Black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 40px;
    transition: all 0.2s;
    > * {
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
    }
  }
  .secondary-customer-button > * {
    margin: 0px;
  }
  .secondary-customer-button:hover {
    cursor: pointer;
  }
  .amount-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    .costumer-amount {
      width: 3em !important;
      background-color: c.$SoftGrey;
      border-style: none;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
      font-size: 3em;
    }
  }
}
